  <h1> ::: Form ::: </h1>



<div id="theForm">

    <div id="textLayer">

      <div id="inputBoxes">
          Namn: <input #box1 (blur) = "checkValueString(box1.value)" type="text" class='input'>
          <div class='output'> {{value1_feedback}} <br/> <br/> </div>
          E-post: <input #box2 (blur) = "checkForEmail(box2.value)" type="text" class='input'>
          <div class='output'> {{value2_feedback}} <br/> <br/> </div>
          Lösenord: <input #box3 (blur) = "checkThePassword(box3.value)" type="password" class='input'>
          <div class='output'> {{value3_feedback}} <br/> <br/> </div>
      </div>

      Födelsedatum:


      <div id="birthDay">

        <div class="bdayB">
          <p> År: </p>
          <p> {{theSelectedYear}} </p>

          <div (click)="nextYear()" class="changeDate"> > </div>
          <div (click)="previousYear()" class="changeDate"> < </div> <br/>
        </div>

        <div class="bdayB">
          <p> Månad: </p>
          <p> {{theSelectedMonth}} </p>

          <div (click)="nextMonth()" class="changeDate"> > </div>
          <div (click)="previousMonth()" class="changeDate"> < </div> <br/>
        </div>

        <div class="bdayB">
          <p> Dag: </p>
          <p> {{theSelectedDay}} </p>

          <div (click)="nextDay()" class="changeDate"> > </div>
          <div (click)="previousDay()" class="changeDate"> < </div> <br/>
        </div>

        <div class ="bdayB" id="lastBox">
          <p> Valt datum: </p>
          <p> {{theSelectedDate}} </p>
        </div>

      </div>

    </div>

    <div (click)="theForm(box1.value, box2.value, box3.value)" class="submitBtn"> Submit </div>


</div>

<div id="inputPres">
  <div>{{ feedback }}</div>
  <br/>
  <div>{{ value1 }}</div>

  <div>{{ value2 }}</div>

  <div>{{ value3 }}</div>

  <div>{{ value4 }}</div>

</div>
