  <h1> ::: Reports ::: </h1>

  <h2> Date picker </h2>

  <p> Jag valde att göra en lösning som låter användaren bläddra fram ett datum. </p>
  <p> Jag har samlat information genom att använda formulär på internet sedan länge. Så ingen
    specifik inspirationskälla, utan tänkte utifrån erfarenhet och hur jag kände att min datepicker skulle se ut och fungera. </p>

  <h2> Registreringsformulär </h2>
  <p> Jag valde att göra ett registreringsformulär med en bild på en del av formuläret. </p>
  <p> Inspirationen till det fick jag på en samlingssida på 2019s bästa formulär, enligt <a href="https://uicookies.com/beautiful-css-forms/"> UICookies </a>.</p>

  <h2> GitHub </h2>
  <p> Mitt GitHub projekt hittas här:
    <a href="https://github.com/ylvali/jsramverk_bth_2019"> jsramverk_bth_2019 </a>
  </p>
